.Form {
    text-align: center;
  }
  
  .Form-logo {
    animation: Form-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .Form-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Form-title {
    font-size: 1.5em;
  }
  
  .Form-intro {
    font-size: large;
  }
  
.print-only {
  display: none !important;
}

.footer {
  display: none !important;
}

.btn btn-success {
  background-color: #B2292E !important;
}

  @keyframes Form-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .transportType, .userNameForm, .waluta, .transportTypeAll, .sniadanieCount, .obiadyCount, .kolacjeCount, .rybagdojazdy, .rydojkom, .rynoc {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 9px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
.transportType:focus, userNameForm:focus, .sniadanieCount:focus, .obiadyCount:focus, .kolacjeCount:focus, .rybagdojazdy:focus, .rydojkom:focus, .rynoc:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }

  .sniadanieCount, .obiadyCount, .kolacjeCount {
    width: 100%;
    margin: 2px 2px;
  }

.border-bottom {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

@media print {
  .transportType {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  
  }
  .btn{
    display: none
  }
}


.table-no-border {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

@media print {
  .waluta, .transportType {
    display: none !important;
  }
}


@media print {
  .userNameForm {
    display: none !important;
    padding: 0px 0px;
    height: 0px;
  }
}

@media print {
  .border-bottom {
    display: none !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

@media print {
  .print-only {
    display: block !important;
  }
}

@media print {
  .label {
    border: none;
    padding: 0px 0px;
  }
}

@media all {
  .page-break	{ display: none; }
  
  .hidden { display: none;}
}

@media print {
  .page-break	{ display: block; page-break-before: always; }
}

@media print {
  .footer {
    display: block !important;
    position: relative;
    padding: 50px;
    left: 3%;
    right: 10%;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: left;
    font-size: 0.8em;
  }
}